<footer style="background-color: #F08080;">

    <nav class="navbar" >
      <div class="container-fluid">
        <p class="navbar-brand">
          &copy Gustavo Quintanilia
        </p>
        <p class="navbar-brand">
          &copy Nathan Fioravanti
        </p>
      </div>
    </nav>

  </footer>