 <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #F08080;">
            <div class="container-fluid">
              <a class="navbar-brand" href="http://localhost:5000/"><h2>EtecNoticiasGN7</h2></a>
            </div>
          </nav>
</header>
